<header>
		<nav id="headerNav">

			<img src="../images/sportchek.png" id="logo">
			<ul>
				<li>
					<a href="../index.php?filter=MEN">MEN</a>
				</li>
				<li>
					<a href="../index.php?filter=WOMEN">WOMEN</a>
				</li>
				<li>
					<a href="../index.php?filter=KIDS">KIDS</a>
				</li>
				<li>
					<a href="../index.php?filter=JERSEYS">JERSEYS</a>
				</li>
				<li>
					<a href="../index.php?filter=EQUIPMENTS">EQUIPMENTS</a>
				</li>
				<li>
					<a href="../index.php?filter=BIKES">BIKES</a>
				</li>
				<li>
					<a href="../index.php?filter=SHOES">SHOES</a>
				</li>
				<li>
					<a href="index.php">All</a>
				</li>
			</ul>

			<p>Search</p>
			<form name="form1" method="post" action="searchresults.php">

				<input name="search" type="text" size="30" maxlength="50" id="searchbar"/>
				<input type="submit" name="Submit" value="Search" id="button"/>

			</form>
		</nav>
</header>
